---
# SPDX-FileCopyrightText: 2022 Connor Carney <hello@connorcarney.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

Language: Cpp
BasedOnStyle: WebKit
Standard: Cpp11

TabWidth: 4
ColumnLimit: 160
SortIncludes: true
BreakBeforeBraces: Linux
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
AllowShortLambdasOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false

---

Language: Java

---

Language: Json

