<?xml version='1.0' encoding='utf-8'?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rocksandpaper.syndic"
          android:versionName="-- %%INSERT_VERSION_NAME%% --"
          android:versionCode="-- %%INSERT_VERSION_CODE%% --"
          android:installLocation="auto">

    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name="org.qtproject.qt.android.bindings.QtApplication"
                 android:label="Syndic"
                 android:icon="@mipmap/ic_launcher"
                 android:hardwareAccelerated="true"
                 android:allowBackup="true">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
                  android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="Syndic"
                  android:windowSoftInputMode="adjustResize"
                  android:launchMode="singleTop"
                  android:exported="true"
                  >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
            <meta-data android:name="android.app.arguments" android:value="-- %%INSERT_APP_ARGUMENTS%% --"/>

            <!-- Extract the minimal native style (Material/Fusion are drawn by Qt) -->
            <meta-data android:name="android.app.extract_android_style" android:value="minimal"/>

            <!-- Splash screen -->
            <meta-data android:name="android.app.splash_screen_drawable" android:resource="@drawable/splash" />

            <!-- auto screen scale factor -->
            <meta-data android:name="android.app.auto_screen_scale_factor" android:value="true"/>
        </activity>
    </application>
</manifest>
