[Desktop Entry]
Name=Syndic
GenericName=News Reader
Icon=com.rocksandpaper.syndic
Exec=syndic
Type=Application
Categories=Network;News;Feed;
Terminal=false
InitialPreference=10
